@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 5rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer components {
  .btn {
    &.btn-small {
      @apply px-3 py-2;
    }
    &.btn-medium {
      @apply px-4 py-3;
    }
    &.btn-large {
      @apply px-5 py-4;
    }
    &.btn-rounded {
      &-full {
        @apply rounded-full;
      }
      &-xl {
        @apply rounded-xl;
      }
      &-lg {
        @apply rounded-lg;
      }

      &-md {
        @apply rounded-md;
      }

      &-sm {
        @apply rounded-sm;
      }
    }
    &.btn-solid {
      @apply border-none;
    }

    &.btn-bordered {
      @apply border-4;
    }
  }
  /* Navigation */
  .navbar {
    @apply fixed lg:relative justify-between items-center flex mx-auto w-full max-w-none; /*  max-w-lg md:max-w-xl lg:max-w-6xl */
    min-height: var(--navbar-height);

    .nav-item {
      @apply text-white hover:text-season-500;
      transition: all .125s ease-in-out;
    }

    .dropdown-toggle {
      @apply flex gap-x-2 align-middle cursor-pointer;

      svg {
        @apply mt-1;
      }
    }

    .dropdown {
      @apply relative list-none;

      .dropdown-menu {
        @apply w-full max-w-60 static lg:absolute flex m-0 right-0 left-0 z-20;
        top: var(--navbar-height);
      }
    }
    .mega {
      @apply min-w-full mx-auto flex z-10 left-0 right-0 absolute rounded-b-md;
      top: calc(var(--navbar-height) + 1.5rem);
      /* transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, -webkit-backdrop-filter;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms; */

      .dropdown-container {
        @apply text-white mx-auto flex flex-row max-w-7xl gap-4 px-6 md:px-10 lg:px-8 xl:gap-8;

        .dropdown-item {
          @apply p-6 rounded-lg relative flex flex-col;

          .dropdown-link {
            @apply font-medium mb-1 text-white hover:text-seasondark-500;
          }
        }
      }
    }
  }

  .avatar {
    @apply relative list-none;

    .avatar-image {
      @apply rounded-full border-4 border-white hover:border-season-500;
    }

      .dropdown-menu {
        @apply rounded-lg w-full pb-2 min-w-48 lg:absolute flex flex-col m-0 z-10 focus-within:outline-none outline-none hover:outline-none focus:outline-none;
        top: var(--navbar-height);

        .dropdown-item {
          @apply py-2 px-4 flex flex-col;

          &.dropdown-header {
            @apply rounded-t-lg font-semibold;
          }
        }
      }

    &.right .dropdown-menu {
      @apply right-0;
    }

    &.left .dropdown-menu {
      @apply left-0;
    }

    &.center .dropdown-menu {
      @apply left-0 right-0;
    }

  }



  .mobile-nav {
    @apply transition-opacity fixed z-10 hidden invisible inset-0 bottom-0 right-0 left-0 w-full overflow-y-auto p-6;
    top: calc(var(--navbar-height) + 1rem);
    height: calc(100vh - var(--navbar-height));
    transition: opacity 250ms ease-in-out;

    &.mobile-open {
      @apply visible block;
    }

    .nav-container {
      @apply flow-root py-6;

      

    .dropdown-toggle {
      @apply flex flex-row gap-x-2 align-middle cursor-pointer text-lg;

      svg {
        @apply mt-1;
      }
    }

    .nav-item {
      @apply list-none min-h-12 border-b-2 border-transparent hover:border-season-500 flex gap-x-2 align-middle cursor-pointer focus:bg-zinc-900/75 hover:bg-zinc-900/75 text-white p-2 text-lg;
    }

    .dropdown {
      @apply relative flex flex-col w-full;

      .dropdown-menu {
        @apply w-full flex m-0 right-0 left-0 mb-2 p-2;
        top: var(--navbar-height);

        .dropdown-container {
          @apply w-full flex flex-col;

          li {
            @apply my-2 hover:bg-season-500 hover:text-zinc-800 w-full flex;
  
            a {
              @apply w-full flex p-2;
            }
          }
        }

      }
    }
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .toggle-open {
    animation: toggle-open .25s ease-in;

  }
  .toggle-close {
    animation: toggle-close .25s ease-out;
  }

  .open {
    @apply toggle-open;
  }

  .divider {
    @apply mx-3 my-2 h-1;
  }

  @keyframes toggle-open {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes toggle-close {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
